@import 'vars';
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

// шапка
.header{
    width: 1440px;
    height: 175px;
    font-family: 'satoshi-regular';
    color: white;
    &__banners{
        width: 1440px;
        height: 41px;
        background-color: $dark-primary;
        display: flex;
        align-items: center;
    }
    &__delivery{
        width: 417px;
        height: 19px;
        display: flex;
        align-items: center;
        font-family: 'satoshi-regular';
        font-size: 14px;
        margin-left: 516px;
    }
    &__close{
        margin-right: 16px;
    }


    &__nav{
        width: 1361px;
        height: 30px;
        display: flex;
        align-items: center;
        margin-top: 21px;
        margin-bottom: 19px;
        margin-left: 28px;
    }
    &__avion{
        margin-left: 0;
        margin-right: 0;
    }
    &__right-links{
        width: 250px;
        margin-right: 47px;
        display: flex;
        font-family: 'satoshi-regular';
    }
    &__actions{
        width: 96px;
        height: 16px;
        display: flex;
        margin-right: 0;
        margin-left: 0;
    }
    

    hr{
        width: 1386px;
        height: 1px;
        border: none;
        margin-top: 20px;
        margin-bottom: 20px;
    }


    &__container-link{
        width: 1440px;
        height: 64px;
        display: flex;
        align-items: center;
        background-color: $light-grey;
    }
    &__main-links{
        width: 780px;
        height: 22px;
        display: flex;
        display: flex;
        align-items: center;
    }

    
    a{
        text-decoration: none;
        color: #726E8D;
    }
}

// заголовки страниц
.page-header{
    width: 1440px;
    height: 246px;
    display: flex;
    align-items: center;
    font-family: 'clashdisplay-regular';
    font-size: 36px;
    &__text{
        width: 704px;
        height: 100px;
    }
}

// функция
.functions{
    width: 1440px;
    height: 603px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 140px auto 110px;
    font-family: 'satoshi-regular';
    &__logo{
        width: 514px;
        height: 68px;
        margin-top: 72px;
        margin-left: 84px;
        font-family: 'clashdisplay-regular';
        font-size: 24px;
        color: #2A254B;
        line-height: 34px;
    }


    &__text{
        width: 536px;
        height: 132px;
        margin-left: 84px;
        line-height: 22px;
        margin-top: 25px;
        color: #505977;
    }


    &__button{
        width: 150px;
        height: 56px;
        margin-left: 84px;
        margin-bottom: 54px;
        background-color: $light-grey;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    &__img{
        grid-column: 2/3;
        grid-row: 1/4;
        margin-right: 0;
    }
}

// функция2
.functions2{
    width: 1440px;
    height: 603px;
    display: grid;
    grid-template-columns: 720px auto;
    grid-template-rows: 140px auto 110px;
    font-family: 'satoshi-regular';
    &__logo{
        width: 514px;
        height: 68px;
        margin-top: 72px;
        margin-left: 84px;
        font-family: 'clashdisplay-regular';
        font-size: 24px;
        color: #2A254B;
        line-height: 34px;
    }


    &__text{
        width: 536px;
        height: 132px;
        margin-left: 84px;
        line-height: 22px;
        margin-top: 25px;
        color: #505977;
    }


    &__button{
        width: 150px;
        height: 56px;
        margin-left: 84px;
        margin-bottom: 54px;
        background-color: $light-grey;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    &__img{
        grid-column: 1/2;
        grid-row: 1/4;
        margin-left: 0;
    }
}

// особенности
.features{
    width: 1440px;
    height: 355px;
    display: grid;
    grid-template-columns: 86px 270px 59px 266px 58px 235px 91px 265px 110px;
    grid-template-rows: 145px 124px auto;
    align-items: center;
    color: $dark-primary;
    font-family: 'clashdisplay-regular';
    &__logo{
        width: 366px;
        height: 34px;
        grid-column: 1/10;
        font-size: 24px;
    }


    &__block1{
        grid-column: 2/3;
    }
    &__block2{
        grid-column: 4/5;
    }
    &__block3{
        grid-column: 6/7;
    }
    &__block4{
        grid-column: 8/9;
    }
    &__block-logo{
        margin-top: 16px;
        margin-bottom: 8px;
        font-size: 20px;
    }
    &__text{
        font-family: 'satoshi-regular';
        line-height: 24px;
    }
}

// почта
.email{
    width: 1440px;
    height: 481px;
    background-image: url(../img/About/sign-up.jpg);
    padding-top: 52px;
    &__container{
        width: 1273px;
        height: 364px;
        align-items: center;
        text-align: center;
        font-family: 'satoshi-regular';
        color: white;
    }
    &__logo{
        padding-top: 68px;
        font-family: 'clashdisplay-regular';
        font-size: 36px;
    }
    &__text{
        width: 470px;   
        height: 54px;
        margin-top: 16px;
        line-height: 27px;
        font-size: 18px;
    }
    &__input{
        width: 472px;
        height: 56px;
        display: flex;
        margin-top: 40px;
    }
    &__e{
        width: 354px;
        height: 56px;
        background-color: $light-grey;
        color: $dark-primary;
        display: flex;
        align-items: center;
        padding-left: 32px;
    }
    &__e-text{
        opacity: 0.20;
        margin-left: 0;
    }
    &__benefits{
        width: 500px;
        height: 24px;
        display: flex;
        align-items: center;
        margin-top: 30px;
    }
    img{
        margin-right: 8px;
        margin-left: 36px;
        width: 16px;
        height: 16px;
    }
    p{
        margin-left: 0;
        margin-right: 0;
    }
    &__sign-up{
        width: 118px;
        height: 56px;
        background-color: $dark-primary;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
    }
}

// подвал
.footer{
    width: 1440px;
    height: 380px;
    background-color: $dark-primary;
    display: grid;
    grid-template-columns: 272px 138px 317px auto;
    grid-template-rows: auto 1px 69px;
    &__menu{
        width: 108px;
        height: 175px;
        margin-top: 58px;
        color: white;
    }
    &__logo{
        height: 20px;
        font-family: 'clashdisplay-regular';
    }
    &__text{
        height: 19px;
        margin-top: 12px;
        font-size: 14px;
        font-family: 'satoshi-regular';
    }

    &__categories{
        width: 84px;
        height: 206px;
        margin-top: 58px;
        color: white;
    }


    &__our-company{
        width: 105px;
        height: 175px;
        margin-top: 58px;
        color: white;
    }


    &__input{
        width: 627px;
        height: 92px;
        margin-right: 83px;
        margin-top: 58px;
        display: grid;
        grid-template-columns: auto auto;
    }
    &__join-text{
        height: 20px;
        font-family: 'clashdisplay-regular';
        color: white;
        grid-column: 1/3;
        margin-left: 0;
        margin-bottom: 16px;
    }
    &__e{
        width: 509px;
        height: 56px;
        background-color: rgb(	249,	249,	249, 0.2);
        font-family: 'satoshi-regular';
        display: flex;
        align-items: center;
        padding-left: 32px;
        color: white;
    }
    &__sign-up{
        width: 118px;
        height: 56px;  
        font-family: 'satoshi-regular'; 
        color: #2A254B;
        border: none;
    }


    hr{
        width: 1277px;
        height: 1px;
        border: none;
        grid-column: 1/5;
        background-color: $primary;
    }


    &__copyright{
        width: 164px;
        height: 19px;
        margin-left: 80px;
        margin-top: 25px;
        font-family: 'satoshi-regular'; 
        font-size: 14px;
        color: white
    }
    

    &__social-links{
        width: 289px;
        height: 24px;
        margin-top: 22px;
        margin-right: 83px;
        display: flex;
        grid-column: 4/5;
    }
}